.orange-bg{
    background-color: aqua;
}


.carousel-item{
    padding: 20px 40px;
}
.just{
    text-align: center;
    text-decoration: chocolate;
    
}
.below{
    margin-top : 100px;
    
}

.foot{
    text-align: center;
   
    background-color: brown;
    text-decoration-color: cornsilk;
}

